1. Project description is placed in readme.md
2. Project progress is placed also in progress.md.
   Keep progress updated without changing it's structure.
   Update progress structure only by explicit commands.
3. Git commit message should implement [Conventional Commits](https://www.conventionalcommits.org/en/v1.0.0/).
   Committing messages use git add && git status together
4. Main branch is master
5. OpenAi main model is 'gpt-4o-mini'. It uses tools that defined in src/core/tools.
6. App is started by hand. Don't run it automatically.
